/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* --------------------------- */

.tekst__section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    background-color: #eeeeee;
    padding-top: 50px;
}

.titel__tekst {
    padding-left: 40px;
    padding-top: 40px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 20px;
    width: 600px;
}

.img__div {}

.img__wrapper {
    display: flex;
    width: 300px;
}

.illustration__1 {
    width: 200px;
    margin-right: 250px;
    padding-bottom: 50px;
}



.text__wrapper {
    display: flex;
}





.myte__overskrift {
    font-weight: 900;
    font-size: 4rem;
}

.myte__paragraf {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
}

.text--forside {
    font-size: 0.8rem;
    position: relative;
    font-weight: 900;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*  NORMAL STYLES */
.header {
    width: 100%;
}

.top-bar {
    background-color: #201D0F;
    height: 0px;
    width: 100%;
}

.top-bar__content {
    max-width: 1400px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
    padding-top: 20px;
}

.bottom-bar {
    background-color: #201D0F;
    width: 100%;
}

.bottom-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    height: 200px;
    padding-top: 100px;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo__img {
    margin-bottom: 100px;
    margin-left: 20px;
}

.navi {
    display: flex;
}

.navi__list {
    display: flex;
}

.navi__item {
    border-right: #201D0F solid;
    border-width: 1px;

}

.navi__link {
    transition: all 0.2s;
    padding: 20px;
    color: #201D0F;
    background-color: #ffdc04;

}

.buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.button1 {
    color: #fff;
    background-color: #201D0F;
    border: solid #fff;
    border-radius: 8%;
    padding: 15px;
    border-width: 1px;
    font-size: 1.2rem;
    font-weight: 600;
}


.button2 {
    background-color: #ffccf4;
    color: #333;
    border-radius: 8%;
    padding: 15px;
    border-width: 1px;
    font-size: 1.2rem;
    font-weight: 600;
}

.navi__link__top {
    padding-right: 15px;
}

.navi__link__top:hover {
    color: yellow;
    transition: all 0.2s;
}

.navi__content {
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    align-items: start;
    flex-direction: column;
}

.hamburger {
    display: none;
}

/* knapper */
.button__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 20px;
}

.forside__knapper {
    background-color: #ffdc04;
    border: none;
    color: black;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}


/* Main Classes */

.main__content--container {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    height: 100vh;
    width: 100%;
}

.main__header {
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
}

.main__img--container {
    width: 700px;
    height: 400px;
    position: relative;
}

.main__img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.main__text--container {
    height: 400px;
    width: 500px;
    position: relative;
}

.main__text {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 500;
}




/* Classes for cards */

.section__container {
    height: 100vh;
    width: 100%;
}

.card__section--container {
    margin: 50px 0;
    background-color: #fff;
}

.overskrift--vend--kort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 50px;
    text-decoration: underline;
}

.card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.billede {
    position: absolute;
    margin-bottom: 100px;
}

.titelMyteTekst {
    position: absolute;
    margin-top: 150px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10%;

}

.sandFalsk {
    font-size: 1.8rem;
    position: relative;
    margin-top: 230px;
    font-weight: 800;
}

.mytekort {
    background-color: #d8d8d8;
    padding-top: 20px;
}

.flip-card-container {
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
    /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
}

.flip-card-front {
    background-color: #fefffc;
    color: black;
    font-weight: 700;
    border: solid #a8a7ab 1px;
    border-radius: 3%;
}

.flip-card-back {
    background-color: #eeeeee;
    color: #fff;
    transform: rotateY(180deg);
    font-family: ser;
    border: solid #a8a7ab 1px;
    border-radius: 3%;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    /* border-radius: 0.5rem; */
}

.flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #000000;
    padding: 20px;
}

.sand-falsk-span {
    border-top: solid rgb(39, 39, 39) 2px;
}

.forside--link {
    font-weight: 600;
}

.forside--link:hover {
    text-decoration: underline;
}

.flip-card-back p span {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.25rem;
    padding: 10px 0;
    font-family: sans-serif;
}

/* Footer Classes */

.footer {
    height: 500px;
    background-color: #201D0F;
    width: 100%;

}

.footer__content__container {}


/* MEDIA QUERIES */

@media (max-width: 768px) {

    .navi {
        position: absolute;
        top: 200px;
        left: 0;
        background-color: #201D0F;
        width: 100%;
        padding: 10px 0 25px;
        height: 250px;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .navi__list {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .navi__link {
        transition: none;
        padding: none;
        color: #fff;
        background-color: #201D0F;
        font-size: 16px;
    }

    .navi__item {
        border-right: none;
        border-width: none;
    }

}